<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- <script src="index.js"></script> -->
    <style>
        html {
            height: 100%
        }

        body {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            padding: 0 !important;
            max-height: 75%;
            overflow: scroll;
        }

        th,
        td {
            text-align: center !important;
        }

        select option{
            background-color: var(--background-color);
        }
    </style>

</head>

<body class="container">
    <main>
        <table role="grid" id="table">
            <thead>
                <tr>
                    <th>TIME</th>
                    <th>WATER LEVEL</th>
                    <th>STAGE</th>
                </tr>
            </thead>
        </table>
    </main>

    <script>
        $(document).ready(function () {
            initialFetch()
        });

        async function initialFetch() {
            let data = await fetch(window.location.href + "fetch").then((response) => response.json())
            let table = $('#table').DataTable();
            data.results.forEach(datum => {
                console.log(datum);
                table.row.add([datum.key, datum.props.waterLevel, datum.props.condition])
           });
        }
    </script>
</body>

</html>