<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKUDAI RIVER WATER LEVEL</title>
    <link rel="icon" href="https://www.svgrepo.com/show/286392/river.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <style>
        html {
            height: 100%
        }

        body {
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-right: 5px !important;
            padding-left: 5px !important;
            max-height: 75%;
            overflow: scroll;
        }

        h1 {
            text-align: center;
            font-size: x-large;
            margin-bottom: 0;
        }

        th,
        td {
            text-align: center !important;
            text-transform: uppercase;
        }

        select option {
            background-color: var(--background-color);
        }

        .normal {
            color: lightgreen;
        }

        .alert {
            color: rgb(255, 247, 0);
        }

        .warning {
            color: rgba(255, 139, 50, 0.8);
        }

        .danger {
            color: rgb(255, 0, 0)
        }

        .indicator {
      color: rgb(75, 75, 230);
    }
    </style>
</head>

<body class="container">
    <main>
        <h1>SKUDAI RIVER WATER MONITORING</h1>
        <table role="grid" id="table">
            <thead>
                <tr>
                    <th style="width: 40%;">TIME</th>
                    <th>WATER LEVEL</th>
                    <th>CONDITION</th>
                    <th>WATER TEMPERATURE</th>
                    <th>CONDITION</th>
                </tr>
            </thead>
        </table>
     <p class="indicator">Water Level Indicator: Distance between 2 sensors</p>
    </main>

    <script>
        $(document).ready(function () {
            initialFetch()
        });

        async function initialFetch() {
            try {
                const limit = 10
                let table = $('#table').DataTable({ order: [[0, 'desc']] });

                //INI UNTUK DB
                //  uncomment block below to request data from db
                // /*

                let data = await fetch(window.location.href + "waterLevel/"+limit).then((response) => response.json())
                console.log(data);
                for (let index = 0; index < limit; index++) {
                    let row = table.row.add(
                        [data.waterLevel.results[index].key ,//time
                        data.waterLevel.results[index].props.waterLevel, //water level reading 
                        data.waterLevel.results[index].props.condition, //water level condition
                        data.waterTemperature.results[index].props.waterTemperature, //water temperature reading
                        data.waterTemperature.results[index].props.condition, //water temperature condition
                    ]).draw(false).node()
                
                //cell ke 3
                $(row).children()[2].className =  data.waterLevel.results[index].props.condition
                //cell ke 5
                $(row).children()[4].className = data.waterTemperature.results[index].props.condition
                }

                // */
                //INI UNTUK FS (prob)
                // uncomment block below to request data from fs >>
                /*
                let data = await fetch(window.location.href + "fs/"+limit).then((response) => response.json())
                console.log(data);

                for (let index = 0; index < limit; index++) {
                    table.row.add(
                        [data[index].Date,
                        data[index].waterLevel,  //data[index].waterTemperature //+Temperature
                        data[index].condition]).draw(false)
                }
                // */
            } catch (error) {
                if (error === 500) {
                    alert("It seems the server is having a problem at the moment. Please be patient and try again later.")
                    return
                }
                console.log(error);
            }
        }
    </script>
</body>

</html>