<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skudai River Water Level</title>
    <link rel="icon" href="https://www.svgrepo.com/show/286392/river.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <style>
        html {
            height: 100%
        }

        body {
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            padding-right: 5px !important;
            padding-left: 5px !important;
            max-height: 75%;
            overflow: scroll;
        }

        h1 {
            text-align: center;
            font-size: medium;
            margin-bottom: 0;
        }

        article{
            border-radius: 10px;
            padding: 40px;
        }
        #table {
            font-size: small;
        }

        tfoot{
            background-color: var(--primary-focus);
        }

        th,
        td {
            font-size: small;
            text-align: center !important;
            text-transform: uppercase;
        }

        select option {
            background-color: var(--background-color);
        }

        #explanation {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        figure {
            min-width: 300px;
            max-width: 600px;
            margin-bottom: 0;
        }
        
        figure>img {
            aspect-ratio: 2/1;
            height: auto;
            border-radius: 8px;
        }

        figcaption {
            text-align: center;
        }

        @media only screen and (min-width: 800px) {
            #explanation {
                flex-wrap: nowrap;
                gap: 20px;
            }
        }

        .normal {
            color: lightgreen;
        }

        .alert {
            color: rgb(210, 204, 14);
        }

        .warning {
            color: rgba(237, 117, 24, 0.8);
        }

        .danger {
            /* color: var(--del-color); */
            color: rgb(255, 56, 56);
        }

        .indicator {
            color: rgb(75, 75, 230);
        }
    </style>
</head>

<body>
    <main class="container">
        <h1>SKUDAI RIVER WATER MONITORING</h1>
        <article>
            <table role="grid" id="table">
                <thead>
                    <tr>
                        <th style="width: 40%;">TIME</th>
                        <th>WATER LEVEL</th>
                        <th>CONDITION</th>
                        <th>WATER TEMPERATURE</th>
                        <th>CONDITION</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="width: 40%;">AVERAGE</th>
                        <th id='averageWaterLevel'></th>
                        <th></th>
                        <th id='averageWaterTemperature'></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </article>
        <article id="explanation">
            <figure>
                <img src="/public/images/wtl.png" alt="water level threshold">
                <figcaption>
                        <small>
                        Kementerian dan Sumber Asli, Alam Sekitar dan Perubahan Iklim, Aras Amaran Stesen Aras Air, <a
                            href="https://publicinfobanjir.water.gov.my/wp-content/themes/enlighten/images/wlT.png">https://publicinfobanjir.water.gov.my/wp-content/themes/enlighten/images/wlT.png
                        </a>
                    </small>
                </figcaption>
            </figure>
            <div>
                <small>
                    <span class='danger'>
                        Danger Level
                    </span>
                    <p>
                        Aras air sungai mula melimpah dan boleh menyebabkan banjir. Perpindahan perlu dilaksanakan jika
                        perlu.
                    </p>
                </small>
                <small>
                    <span class='warning'>
                        Warning Level
                    </span>
                    <p>
                        Aras air sungai menghampiri aras banjir & bersedia untuk buat perpindahan jika perlu.
                    </p>
                </small>
                <small>
                    <span class='alert'>
                        Alert Level
                    </span>
                    <p>
                        Aras air sungai mula meningkat dari Aras Normal.
                    </p>
                </small>
            </div>
        </article>
    </main>

    <script>
        $(document).ready(function () {
            initialFetch()
        });

        async function initialFetch() {
            try {
                const limit = 10
                let table = $('#table').DataTable({ order: [[0, 'desc']] });
                //INI UNTUK DB
                //  uncomment block below to request data from db
                // /*
                
                let data = await fetch(window.location.href + "waterLevel/" + limit).then((response) => response.json())
                let loop = data.waterLevel.results.length
                for (let index = 0; index < loop; index++) {
                    let row = table.row.add(
                        [data.waterLevel.results[index].key,//time
                        data.waterLevel.results[index].props.waterLevel, //water level reading 
                        data.waterLevel.results[index].props.condition, //water level condition
                        data.waterTemperature.results[index].props.waterTemperature, //water temperature reading
                        data.waterTemperature.results[index].props.condition, //water temperature condition
                    ]).draw(false).node()
                    
                    //cell ke 3
                    $(row).children()[2].className = data.waterLevel.results[index].props.condition
                    //cell ke 5
                    $(row).children()[4].className = data.waterTemperature.results[index].props.condition
                }
                
                let arrWaterLevel = table.column(1).data()
                let averageWaterLevel = Number((arrWaterLevel.reduce((a,b) => a + b, 0) / arrWaterLevel.length).toFixed(2))
                document.getElementById('averageWaterLevel').innerText = averageWaterLevel
                
                let arrWaterTemperature = table.column(3).data()
                let averageWaterTemperature = Number((arrWaterTemperature.reduce((a,b) => a + b, 0) / arrWaterTemperature.length).toFixed(2))
                document.getElementById('averageWaterTemperature').innerText = averageWaterTemperature
                
                
                // */
                //INI UNTUK FS (prob)
                // uncomment block below to request data from fs >>
                /*
                let data = await fetch(window.location.href + "fs/"+limit).then((response) => response.json())
                console.log(data);

                for (let index = 0; index < limit; index++) {
                    table.row.add(
                        [data[index].Date,
                        data[index].waterLevel,  //data[index].waterTemperature //+Temperature
                        data[index].condition]).draw(false)
                }
                // */
            } catch (error) {
                if (error === 500) {
                    alert("It seems the server is having a problem at the moment. Please be patient and try again later.")
                    return
                }
                console.log(error);
            }
        }
    </script>
</body>

</html>