<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- <script src="index.js"></script> -->
    <style>
        html {
            height: 100%
        }

        body {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            padding: 0 !important;
            max-height: 75%;
            overflow: scroll;
        }

        th,
        td {
            text-align: center !important;
        }
    </style>

</head>

<body class="container">
    <main>
        <table role="grid" id="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                <tr>
                    <th>TIME</th>
                    <th>WATER LEVEL</th>
                    <th>STAGE</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>TIME</th>
                    <th>WATER LEVEL</th>
                    <th>STAGE</th>
                </tr>
            </tfoot>
        </table>
    </main>

    <script>
        initialFetch()
        $(document).ready(function () {
            $('#table').DataTable();
        });

        function prependRow(dateTime, waterLevel, condition) {
            let row = document.createElement("tr")
            let td1 = document.createElement("td")
            td1.append(dateTime)
            let td2 = document.createElement("td")
            td2.append(waterLevel)
            let td3 = document.createElement("td")
            td3.append(condition)
            row.append(td1, td2, td3)
            document.getElementById("tbody").prepend(row)
        }

        async function initialFetch() {
            let data = await fetch(window.location.href + "fetch").then((response) => response.json())
            data.results.forEach(datum => {
                prependRow(datum.key, datum.props.waterLevel, datum.props.condition)
            });
        }
    </script>
</body>

</html>