<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKUDAI RIVER WATER LEVEL</title>
    <link rel="icon" href="https://www.svgrepo.com/show/286392/river.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- <script src="index.js"></script> -->
    <style>
        html {
            height: 100%
        }

        body {
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-right: 5px !important;
            padding-left: 5px !important;
            max-height: 75%;
            overflow: scroll;
        }

        h1 {
            text-align: center;
        }

        th,
        td {
            text-align: center !important;
        }

        select option {
            background-color: var(--background-color);
        }
    </style>
</head>

<body class="container">
    <main>
        <h1>SKUDAI RIVER WATER LEVEL PROJECT</h1>
        <table role="grid" id="table">
            <thead>
                <tr>
                    <th>TIME</th>
                    <th>WATER LEVEL</th>
                    <th>STAGE</th>
                </tr>
            </thead>
        </table>
    </main>

    <script>
        $(document).ready(function () {
            initialFetch()
        });

        async function initialFetch() {
            try {
                let data = await fetch(window.location.href + "waterLevel/10").then((response) => {
                    if(response.status === 500)
                    throw 500
                    response.json()
                })
                let table = $('#table').DataTable({ order: [[0, 'desc']] });
                console.log(data);
                data.forEach(datum => {
                    table.row.add([datum.key, datum.props.waterLevel, datum.props.condition]).draw(false)
                });
            } catch (error) {
                if (error === 500){
                    alert("It seems the server is having a problem at the moment. Please be patient and try again later.")
                    return
                }
                console.log(error);
            }
        }
    </script>
</body>

</html>